{% extends "base.html" %}

{% block title %}Creamery Recipes{% endblock %}

{% block body %}
<h2>Recipes</h2>
<ul>
{% for recipe in object_list %}
  <li>{{ recipe.name }}</li>
{% endfor %}
</ul>
{% endblock %}